<div class="container">
    <h5>Configuración del software</h5>
    <br />
    <div class="row">
        <div class="col-sm-4 py-2">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <h3 class="card-title">Patrones funcionales</h3>
                    <p class="card-text">Configure nuevos patrones funcionales o edite los ya existentes.</p>
                    <a href="#" class="mbtn btn-outline-secondary">Configurar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 py-2">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <h3 class="card-title">Características definitorias</h3>
                    <p class="card-text">Configure nuevas características definitorias, edite las ya existentes o
                        asocielas a una etiqueta diagnóstico.</p>
                    <a href="#" class="btn btn-outline-secondary">Configurar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 py-2">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <h3 class="card-title">Etiquetas diagnóstico</h3>
                    <p class="card-text">Configure nuevas etiquetas diagnóstico o edite las ya existentes.</p>
                    <a ui-sref="root.diagnostic_tag" class="btn btn-outline-secondary">Configurar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 py-2">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <h3 class="card-title">Resultados</h3>
                    <p class="card-text">Configure nuevos resultados, edito los ya existentes, asocielos a una
                        etiqueta diagnóstico, determine las escalas y medición del resultado.</p>
                    <a ui-sref="root.results" class="btn btn-outline-secondary">Configurar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 py-2">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <h3 class="card-title">Intervenciones</h3>
                    <p class="card-text">Configure nuevas nuevas intervenciones, edite las ya existentes, detalle las
                        actividades de cada intervención.</p>
                    <a href="#" class="btn btn-outline-secondary">Configurar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 py-2">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <h3 class="card-title">Ajustes generales</h3>
                    <p class="card-text">Configure los turnos por día, el idioma del software y más opciones generales
                        del software.</p>
                    <a href="#" class="btn btn-outline-secondary">Configurar</a>
                </div>
            </div>
        </div>


    </div>
</div>